mixin Dropdown(options)
	-
		let dropdownClassName = 'dropdown'
		dropdownClassName += options.isDefault ? ' js-dropdown' : ''
		dropdownClassName += options.isOpen ? ' js-dropdown--open' : ''
		dropdownClassName += options.isGuests ? ' dropdown-guests js-dropdown--guests' : ''
	div(class=dropdownClassName)