include ../../components/header/header
include ../../components/footer/footer

doctype html
html(lang="ru")
	title room-details
	body
		+header({isLogin: true})
		main(role='main')
			article(class='main__images-room')
				.images-room__1
				.images-room__2
				.images-room__3