@import 'reset-css';
@import '~normalize.css';
@import '../../assets/scss/fonts';
@import '../../assets/scss/variables.scss';
@import '../../components/header/header';
@import '../../components/footer/footer';
@import '../../components/button/button';
@import '../../components/textForm/textForm';
@import '../../components/signin-card/signin-card';

.main {
	&__image {
		width: 100%;
		height: 100%;
		background-image: url('../../assets/images/image/image-registration.jpg');
		background-size: cover;
		background-position: 50% 98%;
		background-repeat: no-repeat;
	}

	&__sign-in-card {
		max-width: 380px;
		min-width: 320px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 172px;
		padding-bottom: 172px;
	}
}

@media screen and (max-width:1200px) and (min-width:992px) {
	.main__sign-in-card {
		padding-top: 150px;
		padding-bottom: 150px;
	}
}

@media screen and (max-width:991px) and (min-width:768px) {
	.main__sign-in-card {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}

@media screen and (max-width:767px) and (min-width:576px) {
	.main__sign-in-card {
		padding-top: 90px;
		padding-bottom: 90px;
	}
}

@media screen and (max-width:575px) {
	.main__sign-in-card {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}