.button__wrapper {
	min-width: 99px;
	height: 44px;
}
.button__button {
	box-sizing: border-box;
	padding: 0;
	width: 61px;
	height: 15px;
	background-color: #FFFFFF;
	border-style: none;
	outline: none;
	&--bg-gradient {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border-radius: 22px;
		background-image: $primary-gradient;
	};
	&--hidden,
	&:active {
		opacity: 0.5;
	};
	&--border-gradient {
		width: 100%;
		height: 100%;
		border-radius: 22px;
		border: 2px solid transparent;//Почитать информацию
		background-image: $primary-gradient;
		background-origin: border-box;
		box-shadow: inset 0 50px #fff;
	};
	&--big-size {
		width: 320px;
		height: 100%;
		border-radius: 22px;
		background-image: $primary-gradient;
		text-align: center;
		position: relative;
	};
	&--arrow-right{
		color: #FFFFFF;
		font-size: 24px;
		line-height: 24px;
		font-weight: normal;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.button__text {
	color: #FFFFFF;
	line-height: 15px;
	&--purple {
		color: $purple;
	}
	&--grey {
		color: $dark-50;
	}
}