@import './_textForm-header/textForm-header';

%inputHover {
	border-color: $dark-50;
	color: $dark-75;
}

.text-form {
	max-width: 320px;
}

.input {
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
	height: 44px;
	@extend %font-montserrat-body;
	outline: none;
	padding: 10px 10px 8px 15px;
	&::placeholder {
		color: $dark-25;
	}
	&:hover,
	&:focus {
		@extend %inputHover;
	}
}

.text-form .input--active {
	@extend %inputHover;
	&::placeholder {
		color: $dark-75;
	}
}

.text-form .dropdown-input::placeholder {
	color: $dark-75;
}

.text-form .input-filter-date-dropdown {
	width: 266px;
	&::placeholder {
		color: $dark-75;
	}
}

.text-form .input-date-dropdown {
	width: 150px;
	&::placeholder {
		color: $dark-75;
	}
}

.text-form .input-subscribe {
	position: relative;
	width: 266px;
	&::before {
		content: "f054";
		position: absolute;
		display: block;
		width: 44px;
		height: 44px;
		color: $purple;
		font-family: "Material Icons";
		font-size: 24px;
		top: 10px;
		left: 120px;
	}
}
// стили для air datepicker
.datepicker-here .datepicker,
.datepicker {
	width: 320px;
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid $dark-25;
	border-radius: 4px;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.datepicker--nav {
	border-bottom: none;
	padding: 0;
	&-title,
	&-title i {
		font-family: OpenSans;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 24px;
		color: $dark-100;
	}
}

.datepicker--nav-action {
	&:hover {
		background: none;
	}
	span {
		font-family: material icons;
		width: 24px;
		height: 24px;
		font-size: 24px;
		line-height: 20px;
		display: flex;
		align-items: center;
		text-align: center;
		color: $purple;
	}
}

.datepicker--cells-days {
	&.-other-month- {
		color: $dark-25;
	}
}

.datepicker--content {
	padding: 0;
	margin-top: 30px;
	&.datepicker--body {
		width: 280px;
	}
}

.datepicker--days-names {
	margin: 0;
}

.datepicker--day-name {
	width: 40px;
	height: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: $purple;
}

.datepicker--cell {
	height: 40px;
	&.-current- {
		background: $secondary-gradient;
		border-radius: 22px;
		color: #fff;
	}
	&.-selected- {
		background: $primary-gradient;
		border-radius: 22px;
		color: #fff;
		&.-current- {
			background: $primary-gradient;
		}
		&:hover {
			background: $primary-gradient;
		}
	}
	&.-in-range- {
		background: $primary-gradient;
		opacity: 0.25;
	}
}

.datepicker--cell-day {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: $dark-50;
}

.datepicker--buttons {
	border-top: none;
	padding: 0;
	margin-top: 20px;
	display: block;
	.datepicker--button {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $purple;
		&:hover {
			background: none;
		}
	}
}