@import './_textForm-header/textForm-header';

%inputHover {
	border-color: $dark-50;
	color: $dark-75;
}

.text-form {
	max-width: 320px;
}

.input {
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
	height: 44px;
	@extend %font-montserrat-body;
	outline: none;
	padding: 10px 10px 8px 15px;
	&::placeholder {
		color: $dark-25;
	}
	&:hover,
	&:focus {
		@extend %inputHover;
	}
}

.text-form .input--active {
	@extend %inputHover;
	&::placeholder {
		color: $dark-75;
	}
}

.text-form .dropdown-input::placeholder {
	color: $dark-75;
}

.text-form .input-filter-date-dropdown {
	width: 266px;
	&::placeholder {
		color: $dark-75;
	}
}

.text-form .input-date-dropdown {
	width: 150px;
	&::placeholder {
		color: $dark-75;
	}
}

.text-form .input-subscribe {
	position: relative;
	width: 266px;
	&::before {
		content: "f054";
		position: absolute;
		display: block;
		width: 44px;
		height: 44px;
		color: $purple;
		font-family: "Material Icons";
		font-size: 24px;
		top: 10px;
		left: 120px;
	}
}

.dropdown-input::after,
.input-date-dropdown::after,
.input-filter-date-dropdown::after {
	content: "expand_more";
}