.dropdown-value-buttons {
	&__wrapper {
		width: 92px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 30px;
	}
	&__button {
		background-color: #fff;
		width: 30px;
		height: 30px;
		outline: none;
		border-radius: 22px;
		border: 1px solid $dark-25;
		display: flex;
		justify-content: center;
		align-items: center;
		&:disabled {
			opacity: 0.5;
		}
	}

	&__value {
		width: 15px;
		display: flex;
		justify-content: center;
	}

	.button__decrease,
	.button__increase {
		font-size: 18px;
		color: $dark-50;
		position: relative;
	}
}

