include ../../components/header/header
include ../../components/footer/footer
include ../../components/registration-card/registration-card

doctype html
html(lang="ru")
	meta(name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86")
	title Registration
	body
		+header({isLogin: true})
		main(class='main' role='main')
			.main__image
				.main__registration-card
					+registrationCard({})
		+footer({})
