include ../checkbox/checkbox

mixin checkboxList (listTitle, checkboxName, isActiveList)
	-
		var listClassName = 'checkbox-list__list'
		listClassName += isActiveList ? '' : ' list--hidden'
	.checkbox-list
		div(class='checkbox-list__wrapper')
			div(class='checkbox-list__title js-checkbox-list')
				div(class='checkbox-list__text font-level-h3')=listTitle
				div(class='checkbox-list__button material-icons') expand_more
			ul(class=listClassName)
				each name in checkboxName
					li
						+checkbox({text: name, isActive: isActive})
