include ../checkbox/checkbox

mixin checkboxList (listTitle, checkboxName, isActive)
	.checkbox-list
		.checkbox-list__wrapper
			div(class='checkbox-list__title font-level-h3')=listTitle
			div(class='checkbox-list__button material-icons') expand_more
		ul(class='checkbox-list__list')
			each name in checkboxName
				li
					+checkbox({text: name, isActive: isActive})
