.user-comment__wrapper {
	min-width: 710px;
	display: grid;
	grid-template-rows: 48px min-content;
	grid-row-gap: 10px;
}

.user {
	display: flex;
	justify-content: flex-start;
	&__avatar {
		width: 48px;
		height: 48px;
		box-sizing: border-box;
		border-radius: 50%;
		border: 2px solid #fff;
	}
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 10px;
	}
	&__name {
		line-height: 24px;
		font-weight: bold;
	}
	&__text {
		line-height: 24px;
	}
}

.comment {
	display: grid;
	grid-template-columns: 48px 1fr;
	grid-column-gap: 10px;
	align-items: baseline;
	&__button {
		text-align: center;
	}
	&__text {
		line-height: 24px;
	}
}

.-murad- {
	background: url('../../components/user-comment/avatar/murad-sarafanov.svg') no-repeat 50% 30%;
}

.-patrisse- {
	background: url('../../components/user-comment/avatar/patrisse.svg') no-repeat 50% 30%;
}