include ../components/colors/colors
include ../components/textForm/textForm
include ../components/checkbox/checkbox
include ../components/radio/radio
include ../components/toggle/toggle
include ../components/like-button/like-button
include ../components/rate-button/rate-button
include ../components/range-slider/range-slider
include ../components/button/button
include ../components/pagination/pagination
include ../components/dropdown/dropdown
include ../components/checkbox-list/checkbox-list
include ../components/bullet-list/bullet-list
include ../components/info-hotel-number/info-hotel-number
include ../components/user-comment/user-comment
include ../components/date-picker/date-picker
include ../components/book-hotel-number/book-hotel-number

doctype html
html(lang="ru")
	title Ui-kit
	body
		img.logo(src=require("../assets/images/logo/defaultLogo.svg"), alt="logo")
		.container-colors-and-types
			ul.colors
				+rectangle({class: 'rectangle__color--100', title: 'Dark Shade 100%', text: '#1F2041'})
				+rectangle({class: 'rectangle__color--75', title: 'Dark Shade 75%', text: '#1F2041'})
				+rectangle({class: 'rectangle__color--50', title: 'Dark Shade 50%', text: '#1F2041'})
				+rectangle({class: 'rectangle__color--25', title: 'Dark Shade 25%', text: '#1F2041'})
				+rectangle({class: 'rectangle__color--5', title: 'Dark Shade 5%', text: '#1F2041'})
				+rectangle({class: 'rectangle__color--purple', title: 'Purple', text: '#BC9CFF'})
				+rectangle({class: 'rectangle__color--green', title: 'Green', text: '#6FCF97'})
			include ../components/types/types
		img.logo(src=require("../assets/images/logo/defaultLogo.svg"), alt="logo")
		.container-form-elements
			.text-forms
				.field-forms
					+inputTextForm({title: "Text Field", text: "Default", type: "email", placeholder: "Email" })
					+inputTextForm({title: "Text Field", text: "Hover / Focus", type: "text", placeholder: "This is pretty awesome", isFocus: true })
					+inputTextForm({title: "Dropdown", text: "Default", type: "text", placeholder: "Сколько гостей", isDropdown: true })
					+inputTextForm({title: "masked text field", text: "Default", type: "text", placeholder: "ДД.ММ.ГГГГ"})
				.date-forms
					.date-forms__dropdowns
						+inputTextForm({title: "date Dropdown", type: "text", placeholder: "ДД.ММ.ГГГГ", isDateDropdown: true})
						+inputTextForm({title: "date Dropdown", type: "text", placeholder: "19.08.2019", isDateDropdown: true})
					+inputTextForm({title: "filter date dropdown", type: "text", placeholder: "19 авг - 23 авг", isFilterDateDropdown: true})
					+inputTextForm({title: "subscription text field", type: "email", placeholder: "Email", isButton: true, isSubscribe: true })
			.checkboxs-and-rate-buttons
				.checkboxs-buttons
					span(class="checkboxs-buttons__title font-level-h3") Checkbox Buttons
					+checkbox({text: "Можно курить", value: "smoking"})
					+checkbox({text: "Можно с питомцами", value: "pets", isActive: true})
					+checkbox({text: "Можно пригласить гостей (до 10 человек)", value: "guests", isActive: true})
				.radio-buttons
					span(class="radio-buttons__title font-level-h3") Radio Buttons
					.radio-buttons__list
						+radio({text: "Мужчина", value: "male", isActive: true})
						+radio({text: "Женщина", value: "female"})
				.toggle-buttons
					span(class="toggle-buttons__title font-level-h3") Toggle
					+toggle({text: "Получать спецпредложения", value: "offer", isActive: true})
					+toggle({text: "Получать спецпредложения", value: "offer"})
				.like-buttons
					span(class="like-buttons__title font-level-h3") like button
					ul.like-buttons__list
						li.like-buttons__item
							+likeButton({number: "2"})
						li.like-buttons__item
							+likeButton({number: "12", isActive: true})
				.rate-buttons
					span(class="rate-buttons__title font-level-h3") rate button
					.rate-buttons__list
						+rating(4)
						+rating(5)
			.range-and-buttons
				+rangeSlider({title: 'Range Slider', count: '5 000₽ - 10 000₽', name: 'price', min: '5000', max: '10000', step: 1})
				.buttons
					span(class="buttons__title font-level-h3") buttons
					.buttons__list
						+button({text: 'CLICK ME', backgroundGradient: true})
						+button({text: 'CLICK ME', backgroundGradient: true, hidden: true})
						+button({text: 'CLICK ME', borderGradient: true, textPurple: true})
						+button({text: 'CLICK ME', borderGradient: true, textPurple: true})
						+button({text: 'CLICK ME', textPurple: true})
						+button({text: 'CLICK ME', textGrey: true})
					+button({text: 'перейти к оплате', bigSize: true})
				.pagination
					span(class="pagination__title font-level-h3") pagination
					+pagination(['1', '2', '3', '...', '15'])
			.dropdown-item-1
				+dropdown({title: 'Dropdown', text: 'Default'})
				+dropdown({title: 'Dropdown', text: 'expanded'})
			.dropdown-item-2
				+dropdown({title: 'Dropdown', isGuests: true})
			.dropdown-item-3
				+dropdown({title: 'Dropdown', isGuests: true})
			.checkbox-lists
				+checkboxList('expandable checkbox list', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь'], false)
			.checkbox-rich-buttons
				span(class="checkbox-rich-buttons__title font-level-h3") rich Checkbox Buttons
				+checkbox({title: 'Широкий коридор', text: 'Ширина коридоров в номере не менее 91 см.', isRich: true})
				+checkbox({title: 'Помощник для инвалидов', text: 'На 1 этаже вас встретит специалист и проводит до номера.', isRich: true})
			.bullet-list
				span(class="bullet-list__title font-level-h3") bullet list
				+bulletList(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
			.grid-template-10
				+infoHotelNumb({img: 'insert_emoticon', title: 'Комфорт', text: 'Шумопоглощающие стены'})
				+infoHotelNumb({img: 'location_city', title: 'Удобство', text: 'Окно в каждой из спален'})
			.grid-template-11
				+userComment({userName: 'Мурад Сарафанов', userText: '5 дней назад', likeIsActive: true, likeNumber: '12', commentText: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
		.container-cards
			.card-date-picker
				+datePicker({title: 'Найдём номера под ваши пожелания', titleDateDropdownIn: 'прибытие', titleDateDropdownOut: 'выезд', titleDropdown: 'гости', buttonText: 'подобрать номер'})
			.card-book-hotel-number
				+bookHotelNumb({number: '888', price: '9 990₽ '})
			.date-picker-active
				+inputTextForm({title: "date Dropdown", type: "text", placeholder: "19.08.2019", isDateDropdownActive: true})