@import '~normalize.css';
@import 'reset-css';
@import '../assets/fonts/font-awesome-4.7.0/scss/font-awesome.scss';
@import '../assets/scss/variables.scss';
@import '../assets/scss/fonts';
@import '../components/colors/colors';
@import '../components/types/types';
@import '../components/textForm/textForm';

body {
	background-color: #ffffff;
}

.logo {
	margin: 30px 0 67px 30px;
}

.container-colors-and-types {
	margin-left: 150px;
	display: grid;
	grid-template-rows: 610px;
	grid-template-columns: 270px 403px;
	grid-gap: 427px;
}

.text-forms {
	margin-left: 140px;
	display: grid;
	grid-gap: 40px;
}

.field-forms {
	display: grid;
	grid-gap: 20px;
}

.date-forms {
	display: grid;
	grid-gap: 40px;
}

.date-forms__dropdowns {
	width: 320px;
	display: flex;
	justify-content: space-between;
}
