include ../components/colors/colors
include ../components/textForm/textForm

doctype html
html(lang="ru")
	title Ui-kit
	body
		img.logo(src="./src/assets/images/logo/Group.svg", alt="logo")
		.container-colors-and-types
			.colors
				+rectangle('Dark Shade 100%', '#1F2041')(class="rectangle__color--100")
				+rectangle('Dark Shade 75%', '#1F2041')(class="rectangle__color--75")
				+rectangle('Dark Shade 50%', '#1F2041')(class="rectangle__color--50")
				+rectangle('Dark Shade 25%', '#1F2041')(class="rectangle__color--25")
				+rectangle('Dark Shade 5%', '#1F2041')(class="rectangle__color--5")
				+rectangle('Purple', '#BC9CFF')(class="rectangle__color--purple")
				+rectangle('Green', '#6FCF97')(class="rectangle__color--green")
			include ../components/types/types
		img.logo(src="./src/assets/images/logo/Group.svg", alt="logo")
		.container-form-elements
			+TextField('Text Field', 'Default', 'Email', 'email')(class="text-field__input")
			+TextField('Text Field', 'Hover / Focus', 'This is pretty awesome', 'text')(class="text-field__input text-field__input--hover--focus")
			+TextField('Dropdown', 'Default', 'Сколько гостей', 'text')(class="text-field__input input-dropdown")
			+TextField('masked text field', 'Default', 'ДД.ММ.ГГГГ', 'text')(class="text-field__input")
			+TextField('date Dropdown', false, 'ДД.ММ.ГГГГ', 'text')(class="text-field__input input-date-dropdown")
			+TextField('date Dropdown', false, '19.08.2019', 'text')(class="text-field__input input-date-dropdown")
			+TextField('filter date dropdown', false, '19 авг - 23 авг', 'text')(class="text-field__input input-filter-date-dropdown")
			+TextField('subscription text field', false, 'Email', 'email')(class="text-field__input input--subscription")
