@import 'reset-css';
@import '~normalize.css';
@import '../assets/fonts/font-awesome-4.7.0/scss/font-awesome.scss';
@import '../assets/scss/variables.scss';
@import '../assets/scss/fonts';
@import '../components/colors/colors';
@import '../components/types/types';
@import '../components/textForm/textForm';
@import '../components/checkbox/checkbox';
@import '../components/radio/radio';
@import '../components/toggle/toggle';
@import '../components/like-button/like-button';
@import '../components/rate-button/rate-button';
@import '../components/range-slider/range-slider';
@import '../components/button/button';
@import '../components/pagination/pagination';

body {
	background-color: #ffffff;
}

.logo {
	margin: 30px 0 67px 30px;
}

.container-colors-and-types {
	margin-left: 150px;
	display: grid;
	grid-template-rows: 610px;
	grid-template-columns: 270px 403px;
	grid-gap: 427px;
}

.container-form-elements {
	display: grid;
	margin-left: 140px;
	grid-template-columns: 320px 320px 320px;
	grid-column-gap: 126px;
}

.text-forms {
	display: grid;
	grid-gap: 40px;
}

.field-forms {
	display: grid;
	grid-gap: 20px;
}

.date-forms {
	display: grid;
	grid-gap: 40px;
}

.date-forms__dropdowns {
	width: 320px;
	display: flex;
	justify-content: space-between;
}

.checkboxs-and-rate-buttons {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.checkboxs-buttons {
	display: grid;
	grid-gap: 7px;
	margin-bottom: 41px;
	&__title {
		margin-bottom: 10px;
	}
}

.radio-buttons {
	display: grid;
	grid-gap: 16px;
	margin-bottom: 41px;
}

.toggle-buttons {
	margin-bottom: 41px;
}

.like-buttons {
	display: grid;
	grid-gap: 16px;
	margin-bottom: 41px;
	&__list {
		display: flex;
	}
}

.rate-buttons {
	display: grid;
	grid-gap: 16px;
	margin-bottom: 41px;
	&__list {
	display: inline-flex;
	}
	.rate-button {
		margin-right: 20px;
	}
}

.range-and-buttons {
	grid-gap: 16px;
}

.buttons {
	margin-top: 44px;
}

.buttons__list {
	max-width: 320px;
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 30px;
	grid-template-columns: min-content min-content;
	margin-top: 16px;
	margin-bottom: 30px;
}

.pagination {
	margin-top: 40px;
	display: grid;
	&__title {
		margin-bottom: 16px;
	}
}