include ../components/colors/colors
include ../components/textForm/textForm
include ../components/checkbox/checkbox
include ../components/radio/radio
include ../components/toggle/toggle
include ../components/like-button/like-button
include ../components/rate-button/rate-button
include ../components/range-slider/range-slider
include ../components/button/button
include ../components/pagination/pagination
include ../components/dropdown/dropdown.pug

doctype html
html(lang="ru")
	title Ui-kit
	body
		img.logo(src=require("../assets/images/logo/defaultLogo.svg"), alt="logo")
		.container-colors-and-types
			ul.colors
				+rectangle({class: 'rectangle__color--100', title: 'Dark Shade 100%', text: '#1F2041'})
				+rectangle({class: 'rectangle__color--75', title: 'Dark Shade 75%', text: '#1F2041'})
				+rectangle({class: 'rectangle__color--50', title: 'Dark Shade 50%', text: '#1F2041'})
				+rectangle({class: 'rectangle__color--25', title: 'Dark Shade 25%', text: '#1F2041'})
				+rectangle({class: 'rectangle__color--5', title: 'Dark Shade 5%', text: '#1F2041'})
				+rectangle({class: 'rectangle__color--purple', title: 'Purple', text: '#BC9CFF'})
				+rectangle({class: 'rectangle__color--green', title: 'Green', text: '#6FCF97'})
			include ../components/types/types
		img.logo(src=require("../assets/images/logo/defaultLogo.svg"), alt="logo")
		.container-form-elements
			.text-forms
				.field-forms
					+inputTextForm({title: "Text Field", text: "Default", type: "email", placeholder: "Email" })
					+inputTextForm({title: "Text Field", text: "Hover / Focus", type: "text", placeholder: "This is pretty awesome", isFocus: true })
					+inputTextForm({title: "Dropdown", text: "Default", type: "text", placeholder: "Сколько гостей", isDropdown: true })
					+inputTextForm({title: "masked text field", text: "Default", type: "text", placeholder: "ДД.ММ.ГГГГ"})
				.date-forms
					.date-forms__dropdowns
						+inputTextForm({title: "date Dropdown", type: "text", placeholder: "ДД.ММ.ГГГГ", isDateDropdown: true})
						+inputTextForm({title: "date Dropdown", type: "text", placeholder: "19.08.2019", isDateDropdown: true})
					+inputTextForm({title: "filter date dropdown", type: "text", placeholder: "19 авг - 23 авг", isFilterDateDropdown: true})
					+inputTextForm({title: "subscription text field", type: "email", placeholder: "Email", isButton: true, isSubscribe: true })
			.checkboxs-and-rate-buttons
				.checkboxs-buttons
					span(class="checkboxs-buttons__title font-level-h3") Checkbox Buttons
					+checkbox({text: "Можно курить", value: "smoking"})
					+checkbox({text: "Можно с питомцами", value: "pets", isActive: true})
					+checkbox({text: "Можно пригласить гостей (до 10 человек)", value: "guests", isActive: true})
				.radio-buttons
					span(class="radio-buttons__title font-level-h3") Radio Buttons
					.radio-buttons__list
						+radio({text: "Мужчина", value: "male", isActive: true})
						+radio({text: "Женщина", value: "female"})
				.toggle-buttons
					span(class="toggle-buttons__title font-level-h3") Toggle
					+toggle({text: "Получать спецпредложения", value: "offer", isActive: true})
					+toggle({text: "Получать спецпредложения", value: "offer"})
				.like-buttons
					span(class="like-buttons__title font-level-h3") like button
					.like-buttons__list
						+likeButton({number: "2"})
						+likeButton({number: "12", isActive: true})
				.rate-buttons
					span(class="rate-buttons__title font-level-h3") rate button
					.rate-buttons__list
						+rating(4)
						+rating(5)
			.range-and-buttons
				+rangeSlider({title: 'Range Slider', count: '5 000₽ - 10 000₽', name: 'price', min: '5000', max: '10000', step: 1})
				.buttons
					span(class="buttons__title font-level-h3") buttons
					.buttons__list
						+button({text: 'CLICK ME', backgroundGradient: true})
						+button({text: 'CLICK ME', backgroundGradient: true, hidden: true})
						+button({text: 'CLICK ME', borderGradient: true, textPurple: true})
						+button({text: 'CLICK ME', borderGradient: true, textPurple: true})
						+button({text: 'CLICK ME', textPurple: true})
						+button({text: 'CLICK ME', textGrey: true})
					+button({text: 'перейти к оплате', bigSize: true})
				.pagination
					span(class="pagination__title font-level-h3") pagination
					+pagination(['1', '2', '3', '...', '15'])
			.dropdown-item-1
				+dropdown({title: 'Dropdown', text: 'Default'})
			.dropdown-item-2
				+dropdown({title: 'Dropdown', text: 'expanded'})
			.dropdown-item-3
				+dropdown({title: 'Dropdown', isGuets: true})
