
.checkbox-button__label {
	column-gap: 10px;
	display: grid;
	grid-template-columns: min-content 260px;
}

.checkbox-button__input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.checkbox-button__fake::before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	border: 1px solid $dark-25;
	border-radius: 4px;
	flex-shrink: 0;
	flex-grow: 0;
}

.checkbox-button__input:checked + .checkbox-button__fake::before {
	opacity: 1;
	background: url("../components/checkbox/checked/checked.svg") no-repeat;
	background-position: 3.5px 3px;
	background-size: 60% 60%;
	border-color: $purple;
}

.checkbox-button__text {
	user-select: none;
	padding-top: 3px;
	font-size: 14px;
	line-height: 18px;
	color: $dark-50;
	&-small {
		margin-top: 5px;
		font-size: 12px;
		line-height: 14px;
	}
}

.checkbox-button__body {
	display: flex;
	flex-direction: column;
	.checkbox-button__title {
		padding-top: 2px;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
	}
}