
h1 {
	@extend %font-quicksand-h1;
}

h2 {
	@extend %font-quicksand-h2;
}

h3 {
	@extend %font-montserrat-h3;
}

p {
	@extend %font-montserrat-body;
}

.fonts {
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
	.fonts__item {
		display: flex;
		margin-bottom: 30px;
		.fonts__title {
			@extend %dark-shade-25;
			font-weight: normal;
			margin-right: 30px;
			margin-top: 0px;
		}
		.fonts__text {
			flex-grow: 1;
			margin-top: 0px;
		}
	}
	.fonts__item:nth-of-type(3) {
		margin-left: 20px;
	}
	.fonts__item:nth-of-type(2) {
		margin-left: 12px;
	}
	.fonts__item:first-of-type {
		margin-left: 12px;
	}
}