include ../dropdown/dropdown
include ../button/button
include ../textForm/textForm

mixin datePicker(options)
	.date-picker
		span(class='date-picker__title font-level-h1')=options.title
		.date-picker__date-dropdown
			+inputTextForm({title: options.titleDateDropdownIn, type: "text", placeholder: "ДД.ММ.ГГГГ", isDateDropdown: true})
			+inputTextForm({title: options.titleDateDropdownOut, type: "text", placeholder: "ДД.ММ.ГГГГ", isDateDropdown: true})
		.date-picker__dropdown
			+Dropdown({isGuests: true})
		.date-picker__button
			+button({text: options.buttonText, bigSize: true})