doctype html
html(lang="ru")
	title Ui-kit
	body
		img(src="./src/assets/images/logo/Group.svg", alt="")
		.container
			include ./components/ui-kit/colors/colors.pug
			include ./components/ui-kit/fonts/fonts.pug
			