@import 'reset-css';
@import '~normalize.css';
@import '../../assets/scss/fonts';
@import '../../assets/scss/variables.scss';
@import '../../components/textForm/textForm';
@import '../../components/button/button';
@import '../../components/checkbox/checkbox';
@import '../../components/radio/radio';
@import '../../components/toggle/toggle';
@import '../../components/like-button/like-button';
@import '../../components/rate-button/rate-button';
@import '../../components/dropdown/dropdown';
@import '../../components/date-picker/date-picker';
@import '../../components/book-hotel-number/book-hotel-number';
@import '../../components/registration-card/registration-card';
@import '../../components/signin-card/signin-card';
@import '../../components/card-hotel-number/card-hotel-number';

body {
	background: #F4F4F6;
}

.logo {
	margin: 30px 0 72px 30px;
}

.container-cards {
	padding: 0 10.1vw 140px;
	justify-content: center;
	display: grid;
	grid-template-columns: 380px 380px 320px;
	grid-row-gap: 40px;
	grid-column-gap: 2.77vw;
}