.text-form__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
		.text-form__title {
			align-self: flex-end;
			margin: 0;
		};
		.text-form__text {
			align-self: flex-end;
			margin: 0;
			text-transform: uppercase;
			font-size: 12px;
		}
	}